<%
  gitoliteIdentityPrivateKeyFile     = (!Setting.plugin_redmine_gitolite.nil? and !Setting.plugin_redmine_gitolite[:gitoliteIdentityPrivateKeyFile].nil?) ? Setting.plugin_redmine_gitolite[:gitoliteIdentityPrivateKeyFile] : (ENV['HOME'] + "/.ssh/redmine_gitolite_admin_id_rsa").to_s
  gitoliteIdentityPublicKeyFile      = (!Setting.plugin_redmine_gitolite.nil? and !Setting.plugin_redmine_gitolite[:gitoliteIdentityPublicKeyFile].nil?) ? Setting.plugin_redmine_gitolite[:gitoliteIdentityPublicKeyFile] : (ENV['HOME'] + "/.ssh/redmine_gitolite_admin_id_rsa.pub").to_s
  gitoliteRepositoryAbsoluteBasePath = (!Setting.plugin_redmine_gitolite.nil? and !Setting.plugin_redmine_gitolite[:gitoliteRepositoryAbsoluteBasePath].nil?) ? Setting.plugin_redmine_gitolite[:gitoliteRepositoryAbsoluteBasePath] : '/home/git/repositories/'
  gitoliteUser                       = (!Setting.plugin_redmine_gitolite.nil? and !Setting.plugin_redmine_gitolite[:gitoliteUser].nil?) ? Setting.plugin_redmine_gitolite[:gitoliteUser] : 'git'
  gitoliteServer                     = (!Setting.plugin_redmine_gitolite.nil? and !Setting.plugin_redmine_gitolite[:gitoliteServer].nil?) ? Setting.plugin_redmine_gitolite[:gitoliteServer] : 'localhost'
  gitoliteServerDomain               = (!Setting.plugin_redmine_gitolite.nil? and !Setting.plugin_redmine_gitolite[:gitoliteServerDomain].nil?) ? Setting.plugin_redmine_gitolite[:gitoliteServerDomain] : 'example.com'
  gitoliteLockWaitTime               = (!Setting.plugin_redmine_gitolite.nil? and !Setting.plugin_redmine_gitolite[:gitoliteLockWaitTime].nil?) ? Setting.plugin_redmine_gitolite[:gitoliteLockWaitTime] : '10'
  gitoliteAllProjectsUseGit          = (!Setting.plugin_redmine_gitolite.nil? and !Setting.plugin_redmine_gitolite[:gitoliteAllProjectsUseGit].nil?) ? Setting.plugin_redmine_gitolite[:gitoliteAllProjectsUseGit] : true
%>

<p>
  <label><%= l(:label_gitolite_identity_private_key_file) %>
  <% if !GitoliteHosting.bin_dir_writeable? %>
    <br /><em>[ <%= l(:label_cannot_change_selinux) %> ]</em>
  <% end %>
  </label>
  <%= text_field_tag("settings[gitoliteIdentityPrivateKeyFile]", gitoliteIdentityPrivateKeyFile, :size => 90) %>
  <br />
</p>

<br />

<p>
  <label><%= l(:label_gitolite_identity_public_key_file) %>
  <% if !GitoliteHosting.bin_dir_writeable? %>
    <br /><em>[ <%= l(:label_cannot_change_selinux) %> ]</em>
  <% end %>
  </label>
  <%= text_field_tag("settings[gitoliteIdentityPublicKeyFile]", gitoliteIdentityPublicKeyFile, :size => 90) %>
  <br />
</p>

<br />

<p>
  <label><%= raw l(:label_gitolite_repositories_absolute_base_path)%></label>
  <%= text_field_tag("settings[gitoliteRepositoryAbsoluteBasePath]", gitoliteRepositoryAbsoluteBasePath, :size => 90) %>
  <br />
</p>

<br />

<p>
  <label><%= raw l(:label_gitolite_username) %>
  <% if !GitoliteHosting.bin_dir_writeable? %>
    <br /><em>[ <%= l(:label_cannot_change_selinux) %> ]</em>
  <% end %>
  </label>
  <%= text_field_tag("settings[gitoliteUser]", gitoliteUser.split(/[\r\n\t ,;]+/).join("\n"), :size => 10) %>
  <br />
</p>

<br />

<p>
  <label><%= raw l(:label_gitolite_server)%></label>
  <%= text_field_tag("settings[gitoliteServer]", gitoliteServer.split(/[\r\n\t ,;]+/).join("\n"), :size => 40) %>
  <br />
</p>

<br />

<p>
  <label><%= raw l(:label_gitolite_server_domain)%></label>
  <%= text_field_tag("settings[gitoliteServerDomain]", gitoliteServerDomain.split(/[\r\n\t ,;]+/).join("\n"), :size => 40) %>
  <br />
</p>

<br />

<p>
  <label><%= raw l(:label_gitolite_lock_wait_time)%></label>
  <%= text_field_tag("settings[gitoliteLockWaitTime]", gitoliteLockWaitTime, :size => 10) %>
  <br />
</p>

<br />

<p>
  <label><%= l(:label_gitolite_all_projects_use_git)%></label>
  <%= select_tag("settings[gitoliteAllProjectsUseGit]", options_for_select([[l(:label_enabled), 'true'], [l(:label_disabled), 'false']], gitoliteAllProjectsUseGit)) %>
  <br />
</p>
