<%
  gitoliteRecycleBinDeleteRepositories = (!Setting.plugin_redmine_gitolite.nil? and !Setting.plugin_redmine_gitolite[:gitoliteRecycleBinDeleteRepositories].nil?) ? Setting.plugin_redmine_gitolite[:gitoliteRecycleBinDeleteRepositories] : true
  gitoliteRecycleBinBasePath           = (!Setting.plugin_redmine_gitolite.nil? and !Setting.plugin_redmine_gitolite[:gitoliteRecycleBinBasePath].nil?) ? Setting.plugin_redmine_gitolite[:gitoliteRecycleBinBasePath] : 'recycle_bin/'
  gitoliteRecycleBinExpireTime         = (!Setting.plugin_redmine_gitolite.nil? and !Setting.plugin_redmine_gitolite[:gitoliteRecycleBinExpireTime].nil?) ? Setting.plugin_redmine_gitolite[:gitoliteRecycleBinExpireTime] : '24.0'
%>

<p>
  <label><%= raw l(:label_delete_git_repositories)%></label>
  <%= select_tag("settings[gitoliteRecycleBinDeleteRepositories]", options_for_select([[l(:label_enabled), 'true'], [l(:label_disabled), 'false']], gitoliteRecycleBinDeleteRepositories)) %>
  <br />
</p>

<br />

<p>
  <label><%= raw l(:label_gitolite_recycle_base_path)%></label>
  <%= text_field_tag("settings[gitoliteRecycleBinBasePath]", "./#{gitoliteRecycleBinBasePath}", :size => 60) %>
  <br />
</p>

<br />

<p>
  <label><%= raw l(:label_gitolite_recycle_expire_time)%></label>
  <%= text_field_tag("settings[gitoliteRecycleBinExpireTime]", gitoliteRecycleBinExpireTime, :size => 10) %>
  <br />
</p>
